<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
</head>
<body>
<div th:fragment="entities (path, entities)">
    <div class="row">

        <div class="col-3 col-sm-4">
            <h3>Add</h3>
            <form th:method="POST" th:object="${newEntity}" th:action="${path + '/create'}">
                <div class="row g-2 align-items-center">
                    <label th:for="*{id}" class="visually-hidden">Id</label>
                    <input type="hidden" id="id" required th:field="*{id}" th:value="*{id}"/>
                    <div class="col-auto">
                        <label th:for="*{name}" class="visually-hidden">Name: </label>
                        <input class="form-control" type="text" placeholder="Name" th:field="*{name}">
                    </div>
                    <div class="col-auto">
                        <label th:for="*{enabled}">Enabled</label>
                        <input class="form-check-input" type="checkbox" th:field="*{enabled}" th:value="*{enabled}">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary btn-block" type="submit">Add</button>
                    </div>
                </div>
            </form>
            <h3>Search</h3>
            <form th:method="POST" th:object="${newEntity}" th:action="${path + '/find'}">
                <div class="row g-2 align-items-center">
                    <label th:for="*{id}" class="visually-hidden">Id</label>
                    <input type="hidden" id="id" required th:field="*{id}" th:value="*{id}"/>
                    <div class="col-auto">
                        <label th:for="*{name}" class="visually-hidden">Name: </label>
                        <input class="form-control" type="text" placeholder="Name" th:field="*{name}">
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="all" value="all" name="enabled" checked>
                            <label class="form-check-label" for="all">All</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="true" value="true" name="enabled">
                            <label class="form-check-label" for="true">Enabled</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="false" value="false" name="enabled">
                            <label class="form-check-label" for="false">Disabled</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary btn-block" type="submit">Find</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-3 col-sm-8">
            <h2>Roles</h2>
            <table class="table table-striped">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Enabled</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr th:each="role : ${entities}">
                    <th scope="row" th:text="${role.id}"></th>
                    <td th:text="${role.name}"></td>
                    <td th:text="${role.enabled}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="${path + '/' + role.id}" role="button">Edit</a>
                    </td>
                    <td>
                        <form th:method="POST" th:action="${'/admin/' + path + '/delete'}">
                            <label class="visually-hidden" for="id"></label>
                            <input class="form-check-input" type="hidden" name="id" th:value="${role.id}">
                            <button class="btn btn-primary btn-block" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>
<div th:fragment="entity (path, entity)">
    <div class="row">

        <div class="col-6 col-sm-3">
            <h2>Role</h2>
            <form th:method="POST" th:object="${entity}" th:action="${'/admin/' + path + '/update'}">
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        <label th:for="*{id}">Id: <span th:text="*{id}"></span></label>
                        <input class="form-check-input" type="hidden" th:field="*{id}">
                        <label th:for="*{name}">Name: <span th:text="*{name}"></span></label>
                        <input class="form-check-input" type="hidden" th:field="*{name}">
                    </div>
                </div>
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        <span>Role enabled:</span>
                        <input class="form-check-input" type="checkbox" th:field="*{enabled}" th:value="${entity}">
                        <label class="form-check-label" th:for="*{enabled}">Enabled</label>
                    </div>
                </div>
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        <button class="btn btn-primary btn-block" type="submit">Save</button>
                    </div>
                </div>
            </form>
            <form th:method="POST" th:object="${entity}" th:action="${'/admin/' + path + '/delete'}">
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        <label class="visually-hidden" th:for="*{id}"></label>
                        <input class="form-check-input" type="hidden" th:field="*{id}"/>
                        <button class="btn btn-primary btn-block" type="submit">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>