<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<title th:text="|#{title.prefix} Reserve|">Reserve</title>
</head>
<body>
	<div th:replace="fragments/bootstrap :: bootstrap"></div>
	<div th:replace="fragments/navigation :: menu"></div>
	<div class="container">

    <div class="row" th:with="path=@{'/reserve'}">

        <div class="col-3 col-sm-2">

				<h2>Reserve for <span th:text="${reserve.adultBeds}"/> adults, <span th:text="${reserve.childBeds}"/> childs, from <span th:text="${reserve.checkIn}"/> to <span th:text="${reserve.checkOut}"/></h2>
					
					<div class="col-auto">
							<select class="form-select" aria-label="Suit class" th:field="*{paymentTypes}">
								  <option value="" selected >Payment type</option>
								  <option th:each="type : ${paymentTypes}" th:text="${type.paymenttype}" th:value="${type.id}">Type</option>
							</select>
					</div>


				<div th:if="${searchResults ne null}">
					<div th:each="searchResult, iterStatSearch  : ${searchResults}">
						<form th:method="POST" th:action="@{'/reserve/reserve/create'}" th:object="${reserve}">	
						
							<input type="hidden" name="checkIn" 
								th:id="${reserve.checkIn}"
								th:name="${reserve.checkIn}"
								th:value="${completedSearchRequest.checkIn}"/>	
							<input type="hidden" name="checkOut" 
								th:id="${reserve.checkOut}"
								th:name="${reserve.checkOut}"
								th:value="${completedSearchRequest.checkOut}"/>
							<input type="hidden" name="adultBeds" 
								th:id="${reserve.adultBeds}"
								th:name="${reserve.adultBeds}"
								th:value="${completedSearchRequest.adultBeds}"/>
							<input type="hidden" name="childBeds" 
								th:id="${reserve.childBeds}"
								th:name="${reserve.childBeds}"
								th:value="${completedSearchRequest.childBeds}"/>
							
							<table class="table table-striped">
								<tr>
									<th scope="col" class="col-3">Photo</th>
									<th scope="col">Suit class</th>
									<th scope="col">Beds</th>
									<th scope="col">Price</th>
									<th scope="col">Quantity</th>
								</tr>
								<tr th:each="suitType, iterStatSuitType : ${searchResult.suitTypes}">
										
									<td>								
											
										<input type="hidden" th:id="'suitTypes' + ${iterStatSuitType.index} + '.suitTypeId'"
											th:name="'suitTypes[' + ${iterStatSuitType.index} + '].suitTypeId'"
											th:value="${suitType.suitTypeId}" />	
										<input type="hidden" th:id="'suitTypes' + ${iterStatSuitType.index} + '.quantity'"
											th:name="'suitTypes[' + ${iterStatSuitType.index} + '].quantity'"
											th:value="${suitType.quantity}" />											
										<input type="hidden" th:id="'suitTypes' + ${iterStatSuitType.index} + '.price'"
											th:name="'suitTypes[' + ${iterStatSuitType.index} + '].price'"
											th:value="${suitType.price}" />
									
										<a th:if="${suitType.photo ne null}" th:href="@{'/' + ${pathToStorage} + '/' + ${suitType.photo.id} + '/' + ${suitType.photo.filename}}">
											<img th:src="@{'/' + ${pathToStorage} + '/' + ${suitType.photo.id} + '/' + ${suitType.photo.filename}}" class="img-fluid" th:alt="${suitType.photo.filename}">
										</a>
										<span th:if="${suitType.photo eq null}" th:text="'No photo'" />
									</td>
									<td th:text="${suitType.suitClass}">Suit class</td>
									<td th:text="${suitType.beds}">Beds</td>
									<td th:text="${suitType.price}">Price</td>
									<td th:text="${suitType.quantity}">Quantity</td>
								</tr>
								<tr class="table-success">
									<td colspan="4">Total price: <span th:text="${searchResult.totalPrice}"/>
									</td>	
									<td>
										<div th:each="suitType : ${searchResult.suitTypes}">
										</div>
										
										<button class="btn btn-primary btn-block" type="submit">Reserve</button>
									</td>									
								</tr>
							</table>	
						</form>						
					</div>

				</div>
			</div>

		</div>

	</div>

</body>
</html>