<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Suit Types</title>
</head>
<body>
<div th:fragment="entities (path, entities, newEntity, genders)">
    <div class="row">

        <div class="col-3 col-sm-2">
            <h3>Search</h3>
            <form th:method="POST" th:object="${newEntity}" th:action="@{${path}+'/find'}">
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        <label th:for="*{firstname}" class="visually-hidden">Firstname: </label>
                        <input class="form-control" type="text" placeholder="Firstname" th:field="*{firstname}">
                    </div>
			
					<div class="col-auto">
							<label th:for="*{surname}" class="visually-hidden">Surname: </label>
							<input class="form-control" type="text" placeholder="Surname" th:field="*{surname}">
					</div>	
					<div class="col-auto">
							<label th:for="*{middlename}" class="visually-hidden">Middlename: </label>
							<input class="form-control" type="text" placeholder="Middlename" th:field="*{middlename}">
					</div>	
					<div class="col-auto">
							<label th:for="*{phone}" class="visually-hidden">Phone: </label>
							<input class="form-control" type="tel" placeholder="Phone" th:field="*{phone}">
					</div>	
					<div class="col-auto">
							<label th:for="*{email}" class="visually-hidden">Email: </label>
							<input class="form-control" type="email" placeholder="Email" th:field="*{email}">
					</div>						
					<div class="col-auto">
							<label th:for="*{birthdate}" class="visually-hidden">Birthdate: </label>
							<input class="form-control" type="date" placeholder="Email" th:field="*{birthdate}">
					</div>										
					<div class="col-auto">
							<select class="form-select" aria-label="Gender" th:field="*{gender}">
								  <option value="" selected >Genders</option>
								  <option th:each="g : ${genders}" th:text="${g.gender}" th:value="${g.id}">Gender</option>
							</select>
					</div>				
                    <div>
                        <button class="btn btn-primary btn-block" type="submit">Find</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-3 col-sm-8">
            <h2>Customers</h2>
            <table class="table table-striped">
                <tr>
					<th scope="col">Firstname</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Middlename</th>		
					<th scope="col">Birthdate</th>					
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                </tr>
                <tr th:each="e : ${entities}">			
                    <td scope="row" th:text="${e.firstname}"></td>
                    <td th:text="${e.surname}"></td>							
                    <td th:text="${e.middlename}"></td>	
                    <td th:text="${e.birthdate}"></td>					
                    <td th:text="${e.phone}"></td>					
                    <td th:text="${e.email}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{'/customer/' + ${path}+'/'+${e.id}}" role="button">Edit</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>
<div th:fragment="entity (path, entity, genders)">
    <div class="row">

        <div class="col-6 col-sm-3">
            <h2>Customer</h2>
            <form th:method="POST" th:object="${entity}" th:action="@{'/customer/'+${path}+'/update'}">
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        <label th:for="*{id}">Id: <span th:text="*{id}"></span></label>
                        <input class="form-control" type="text" th:field="*{id}"/>
                    </div>
                </div>
				<div class="row g-2 align-items-center">
					<div class="col-auto">
                        <label th:for="*{firstname}">Firstname: <span th:text="*{firstname}"></span></label>
                        <input class="form-control"  type="text" th:field="*{firstname}"/>
                    </div>
                </div>				
				<div class="row g-2 align-items-center">
					<div class="col-auto">
                        <label th:for="*{surname}">Surname: <span th:text="*{surname}"></span></label>
                        <input class="form-control"  type="text" th:field="*{surname}"/>
                    </div>
                </div>	
				<div class="row g-2 align-items-center">
					<div class="col-auto">
                        <label th:for="*{middlename}">Middlename: <span th:text="*{middlename}"></span></label>
                        <input class="form-control" type="text" th:field="*{middlename}"/>
                    </div>
                </div>
				<div class="row g-2 align-items-center">
					<div class="col-auto">
						<select class="form-select" aria-label="Gender" th:field="*{gender}">
							  <option value="" selected >Gender</option>
							  <option th:each="g : ${genders}" th:text="${g.gender}" th:value="${g.id}">Gender</option>
						</select>	
                    </div>
                </div>
				<div class="row g-2 align-items-center">
					<div class="col-auto">
                        <label th:for="*{birthdate}">Birthdate: <span th:text="*{birthdate}"></span></label>
                        <input class="form-control"  type="date" th:field="*{birthdate}"/>
                    </div>
                </div>
				<div class="row g-2 align-items-center">
					<div class="col-auto">
                        <label th:for="*{phone}">Phone: <span th:text="*{phone}"></span></label>
                        <input class="form-control" type="tel" th:field="*{phone}"/>
                    </div>
                </div>				
				<div class="row g-2 align-items-center">
					<div class="col-auto">
                        <label th:for="*{email}">Email: <span th:text="*{email}"></span></label>
                        <input class="form-control"  type="email" th:field="*{email}"/>
                    </div>
                </div>						
			
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        <button class="btn btn-primary btn-block" type="submit">Save</button>
                    </div>
                </div>
			</form>
		</div>
    </div>
</div>
</body>
</html>