<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<title th:text="|#{title.prefix} Photos|">Photos</title>
</head>
<body>
<div th:replace="fragments/bootstrap :: bootstrap"></div>
<div th:replace="fragments/navigation :: menu"></div>
<div class="container">
    <h1>Photos</h1>
    <div class="container">
        <div th:replace="${entities} ? ~{${'/fragments/' + fragment} :: entities (${fragment}, ${entities}, ${newEntity})} : ~{}"></div>
        <div th:replace="${entity} ? ~{${'/fragments/' + fragment} :: entity (${fragment}, ${entity})} : ~{}"></div>
    </div>
</div>
</body>
</html>