<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resort</title>
</head>
<body>
<div th:fragment="entities (path, entities, newEntity, resortTypes, resortClasses, pathToStorage)">
    <div class="row">

        <div class="col-3 col-sm-2">
            <h3>Add</h3>
            <form th:method="POST" th:object="${newEntity}" th:action="@{${path}+'/create'}">
                <div class="row g-2 align-items-center">
                    <label th:for="*{id}" class="visually-hidden">Id</label>
                    <input type="hidden" id="id" required th:field="*{id}" th:value="*{id}"/>
                    <div class="col-auto">
						<ul th:if="${creationError} ne null" class="text-warning">
							<li th:text="${creationError}"/>
						</ul>
                        <label th:for="*{name}" class="visually-hidden">Name: </label>
                        <input class="form-control" type="text" placeholder="Name" th:field="*{name}">
                    </div>
					<div class="col-auto">
                        <label th:for="*{description}" class="form-label">Description: </label>
						<textarea class="form-control" rows="3" th:field="*{description}"></textarea>
                    </div>
					<div class="col-auto">
						<select class="form-select" aria-label="Select type" th:field="*{resorttype}">
							  <option value="" selected >Select type</option>
							  <option th:each="type : ${resortTypes}" th:text="${type.name}" th:value="${type.id}">type</option>
						</select>
                    </div>
					<div class="col-auto">
						<select class="form-select" aria-label="Select type" th:field="*{resortClass}">
							  <option value="" selected >Select class</option>
							  <option th:each="class : ${resortClasses}" th:text="${class.resortClass}" th:value="${class.id}">type</option>
						</select>
                    </div>					
                    <div class="col-auto">
                        <button class="btn btn-primary btn-block" type="submit">Add</button>
                    </div>
                </div>
            </form>
            <h3>Search</h3>
            <form th:method="POST" th:object="${newEntity}" th:action="@{${path}+'/find'}">
                <div class="row g-2 align-items-center">
                    <label th:for="*{id}" class="visually-hidden">Id</label>
                    <input type="hidden" id="id" required th:field="*{id}" th:value="*{id}"/>
                    <div class="col-auto">
                        <label th:for="*{name}" class="visually-hidden">Name: </label>
                        <input class="form-control" type="text" placeholder="Name" th:field="*{name}">
                    </div>
					<div class="col-auto">
                        <label th:for="*{description}" class="visually-hidden">Description: </label>
                        <input class="form-control" type="text" placeholder="Description" th:field="*{description}">
                    </div>
                    <div>
                        <button class="btn btn-primary btn-block" type="submit">Find</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-3 col-sm-8">
            <h2>Resorts</h2>
            <table class="table table-striped">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col">Class</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr th:each="e : ${entities}">
                    <th scope="row" th:text="${e.id}"></th>
					<td >
						<a th:if="${e.photo ne null}" th:href="@{'/' + ${pathToStorage} + '/' + ${e.photo.id} + '/' + ${e.photo.filename}}">
							<img th:src="@{'/' + ${pathToStorage} + '/' + ${e.photo.id} + '/' + ${e.photo.filename}}" class="img-fluid" th:alt="${e.photo.filename}">
						</a>
						<span th:if="${e.photo eq null}" th:text="'No photo'" />
					</td>
                    <td th:text="${e.name}"></td>
                    <td th:text="${e.description}"></td>
                    <td th:text="${e.resorttype.name}"></td>
                    <td th:text="${e.resortClass.resortClass}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{${path}+'/'+${e.id}}" role="button">Edit</a>
                    </td>
                    <td>
                        <form th:method="POST" th:action="@{${path}+'/delete'}">
                            <label class="visually-hidden" for="id"></label>
                            <input class="form-check-input" type="hidden" name="id" th:value="${e.id}">
                            <div th:replace="fragments/common :: confirmFormDialog ('Delete?',
                                'This action will delete all buildings, floors and suits in this resort.',
                                'Delete',
								${e.id})">
                                <button class="btn btn-primary btn-block" type="submit">Delete</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>
<div th:fragment="entity (path, entity, resortTypes, resortClasses, pathToStorage)">
    <div class="row">

        <div class="col-6 col-sm-3">
            <h2>Resort</h2>
            <form th:method="POST" th:object="${entity}" th:action="@{'update'}">
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        <label th:for="*{id}">Id: <span th:text="*{id}"></span></label>
                        <input class="form-check-input" type="hidden" th:field="*{id}"/>
                    </div>
                </div>
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
						<!--<a th:href="@{${entity.id} + '/' + ${entity.filename}}">
						<img th:src="@{${entity.id} + '/' + ${entity.filename}}" class="img-fluid" th:alt="${e.filename}">
						</a>-->
						<label th:for="*{photo}" class="visually-hidden"></label>
                        <input class="form-check-input" type="hidden" th:field="*{photo}"/>
						<a th:if="${entity.photo ne null}" th:href="@{'/' + ${pathToStorage} + '/' + ${entity.photo.id} + '/' + ${entity.photo.filename}}">
						<img th:src="@{'/' + ${pathToStorage} + '/' + *{photo.id} + '/' + *{photo.filename}}" class="img-fluid" th:alt="*{photo.filename}">
						</a>
						<span th:if="${entity.photo eq null}" th:text="'No photo'" />						
                    </div>
                </div>
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        <label th:for="*{name}">Resort: <span th:text="*{name}"></span></label>
                        <input class="form-check-input" type="hidden" th:field="*{name}"/>
                    </div>
                </div>				
				<div class="col-auto">
                        <label th:for="*{description}" class="form-label">Description: </label>
						<textarea class="form-control" rows="3" th:field="*{description}"></textarea>
                 </div>
				<div class="col-auto">
					<select class="form-select" aria-label="Select type" th:field="*{resorttype}">
						  <option value="" selected >Select type</option>
						  <option th:each="type : ${resortTypes}" th:text="${type.name}" th:value="${type.id}">type</option>
					</select>
                </div>
				<div class="col-auto">
					<select class="form-select" aria-label="Select type" th:field="*{resortClass}">
						  <option value="" selected >Select class</option>
						  <option th:each="class : ${resortClasses}" th:text="${class.resortClass}" th:value="${class.id}">type</option>
					</select>
                </div>
				<label th:for="*{buildings}" class="visually-hidden"></label>
                <input class="form-check-input" type="hidden" th:field="*{buildings}"/>				
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        <button class="btn btn-primary btn-block" type="submit">Save</button>
                    </div>
                </div>
            </form>
            <form th:method="POST" th:object="${entity}" th:action="@{'delete'}">
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        <label class="visually-hidden" th:for="*{id}"></label>
                        <input class="form-check-input" type="hidden" th:field="*{id}"/>
                        <div th:replace="fragments/common :: confirmFormDialog ('Delete?',
                        'This action will delete all buildings, floors and suits in this resort.',
                        'Delete',
						*{id})">
                            <button class="btn btn-primary btn-block" type="submit">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>